
<h1>Welcome Grader <%= grader %></h1>

<h2>Select Tenant</h2>

    <input type="radio" name="tenant" value="Bhakti" required> Bhakti<br>
    <input type="radio" name="tenant" value="Shuzhong"> Shuzhong<br>
    <input type="radio" name="tenant" value="Sequence"> Sequence<br>
    <input type="radio" name="tenant" value="UML"> UML<br>

    Choose zip file : <input type="file" name="datafile" size="40" required="true">

    <button type = "submit" id="driver"> Get Diagram </button>


<h3> Output Diagram </h3>

<script type = "text/javascript"
        src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type = "text/javascript" language = "javascript">
    $(document).ready(function() {
        $("#driver").click(function(event){
            $('#stage').load('/uml-parser-test1.png');
        });
    });
</script>

<div id="stage" style="display: none">
    <img src="uml-parser-test1.png" />
</div>

<script>
    $(function () {
        var loading = $("#stage");
        $(document).ajaxStart(function () {
            loading.show();
        });

        $(document).ajaxStop(function () {
            loading.hide();
        });

        $("#driver").click(function () {
            $.ajax({

            });
        });
    });
</script>



