<title> Login </title>
<h2>Grader Login</h2>
<form action="/login" method = "post">
	Username <input type ="text" name="username" id="username" required="true"> <br><br>
	Password <input type ="password" name="password" id="password" required="true"> <br><br>
	<button type = "submit"> Login </button>
</form>

<form action="/signup" method="post">
	<button type = "submit"> Sign Up </button>
</form>

