<form> 
<h2>New Grader Signup</h2>
<form action="/" method = "post">
	<div class="name">
	Username <input type ="text" name="name" id="name" required="true">
	</div> <br>
	<div class="username">
	Username <input type ="text" name="username" id="username" required="true">
	</div> <br>
	<div class="password">
	Password <input type ="password" name="password" id="password" required="true">
	</div> <br>
	<button type = "submit"> Signup </button>
</form>